---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";
import { posteos } from "@social";
const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
};
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <News2 />Blog & Notas
  </h2>

  <article class="suscribe-container">
    <p>
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>    
  </article>

  <div class="container_posts">
    <ul class="blog_post">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
              {/* <img
                width={700}
                height={350}
                src={post.data.heroImage}
                alt={post.data.title}
              /> */}
              <h4 class="title">{post.data.title}</h4>
              <p class="description">{post.data.description}</p>
              <p class="more">Leer nota →</p>
            </a>
          </li>
        ))
      }
    </ul>

    <ul class="social_post">
      {
        posteos.map(({ network, title, description, url, date }) => {
          const Icon = SOCIAL_ICONS[network];

          return (
            <li>
              <a href={url}>
                <p class="date">
                  <Icon class="w-[14px] h-[14px]" />
                  {date}
                </p>
                <h3 class="title">{title}</h3>
                <p class="description">{description}</p>
                <p class="more goto">Ir a post →</p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>

<style>
  .container_posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4px;
  }
  .blog_post,
  .social_post {    
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: fit-content;
  }
  .blog_post li,
  .social_post li {    
    padding: 8px 16px;
    border-radius: 8px;
  }
  li {
    transition: all 0.3s ease-in-out;
  }
  li:hover {
    background-color: rgb(var(--dark), 0.05);
  }
  li a {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }  
  .date {
    font-size: 12px;
    color: rgb(var(--dark), 0.5);
    text-wrap: pretty;
    border-left: 2px solid rgb(var(--text-200), 0.45);
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .title {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(var(--dark), 0.75);
  }
  .description {
    font-size: 14px;
    color: rgb(var(--dark), 0.45);
    text-wrap: pretty;
  }
  .more {
    font-size: 14px;
    font-weight: bolder;
    color: rgb(var(--secondary-100), 0.85);
    letter-spacing: 0.05em;
  }
  
  @media (width <= 700px) {
    
  }
</style>
