---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";
import { posteos } from "@social";
const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
};
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <div class="area_section flex flex-col gap-2">
    <h2
      class="section-title flex items-center gap-2 font-bold tracking-wide text-pretty"
    >
      <News2 />Blog & Notas
    </h2>
    <p class="parrafo leading-5 font-extralight text-pretty tracking-wide">
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <div class="container_posts">
      <h3 class="subtitle">
        Últimos posts
      </h3>

      <ul class="blog_post">
        {
          posts.map((post) => (
            <li>
              <a 
                href={`/blog/${post.slug}/`} 
                class="posts"
              >
                <News class="w-4 h-4" />
                <div>
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
                {/* <p class="description">{post.data.description}</p> */}
                {/* <p class="more">Leer nota →</p> */}
              </a>
            </li>
          ))
        }
      </ul>

      <h3 class="subtitle">
        Últimos posts en redes sociales
      </h3>

      <ul class="social_post">
        {
          posteos.map(({ network, title, description, url, date }) => {
            return (
              <li>
                <a href={url} class="posts">
                  <Rss class="w-[14px] h-[14px]" />
                  <div>
                    <h3 class="title">{title}</h3>
                    <p class="date">{network}</p>
                  </div>
                  {/* <p class="description">{description}</p> */}
                  {/* <p class="more goto">Ir a post →</p> */}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</Section>

<style>
  .area_section {
    color: rgb(var(--light), 0.9);
    border-radius: 10px;
    padding: 1rem;
  }
  .section-title {
    font-size: clamp(18px, 1.5vw, 20px);
  }
  .parrafo {
    font-family: var(--font-heading);
    font-size: 12px;
    color: rgb(var(--light), 0.55);
    font-weight: 100;
  }
  .subtitle {
    margin-block: 16px;
    font-size: clamp(14px, 1.5vw, 16px);
    text-decoration: underline;
    text-underline-offset: 6px;
    
  }
  li {
    display: flex;
    gap: 16px;
  }
  .posts {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    padding: 4px 8px;
    width: 100%;
  }
  .posts:hover {
    background-color: rgb(var(--accent-50), 1);
    color: rgb(var(--dark), 1);
  }
  .title {
    font-size: 14px;
    font-weight: 500;
  }
  .date {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    
  }
  
  @media (width <= 700px) {
  }
</style>
