---
import Section from "../Section.astro";
import { basics, projects } from "@cv";
import {
  Rss,
  Github,
  Html5,
  Css3,
  React,
  Javascript,
  Python,
  Vite,
} from "simple-icons-astro";
import Circle from "@/icons/circle.astro";
import AstroIcon from "@/icons/AstroIcon.astro";
import Data from "@/icons/Data.astro";
import ArrowRightTop from "@/icons/ArrowRightTop.astro";
const SKILL_ICONS: Record<string, any> = {
  Html5,
  Css3,
  React,
  Javascript,
  AstroIcon,
  Vite,
};
---

<Section>
  <div class="area_section flex flex-col gap-2">
    <h2
      class="section-title flex items-center gap-2 font-bold tracking-wide text-pretty"
    >
      <Data /> Proyectos
    </h2>
    <p class="parrafo leading-5 font-extralight text-pretty tracking-wide">
      Los pequeños detalles marcan una gran diferencia. Con los años he
      aprendido a fijarme en esos detalles. Nunca dejo de aprender. He aquí
      varias recopilaciones a lo largo de este camino.
    </p>

    <ul class="projects-items">
      {
        projects.map(
          ({ url, description, highlights, name, isActive, github }) => {
            return (
              <li>
                <article>
                  <header>
                    <h3>
                      <a
                        href={url}
                        title={`Ver el proyecto ${name}`}
                        target="_blank"
                      >
                        {name}
                      </a>
                      {isActive && (
                        <span>
                          <Circle />
                        </span>
                      )}
                      {github && (
                        <a
                          class="github-code-link"
                          href={github}
                          target="_blank"
                          title={`Ver código fuente del proyecto ${name}`}
                        >
                          <Github class="w-4 h-4" />
                        </a>
                      )}
                    </h3>
                    <p>{description}</p>
                  </header>
                  <footer>
                    <ul>
                      {highlights.map((highlight) => {
                        return <span>{highlight}</span>;
                      })}
                    </ul>
                  </footer>
                </article>
              </li>
            );
          }
        )
      }
    </ul>
  </div>
</Section>

<style>
  .area_section {
    background: rgb(var(--accent-60), 0.25);
    color: rgb(var(--light), 0.9);
    border-radius: 10px;
    padding: 1rem;
  }
  .section-title {
    font-size: clamp(18px, 1.5vw, 20px);
  }
  .parrafo {
    font-family: var(--font-heading);
    font-size: 12px;
    color: rgb(var(--light), 0.55);
    font-weight: 100;
  }

  .projects-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  li {
    /* background: rgb(var(--accent-60), 0.55); */
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(var(--light), 0.1);
  }
  li:hover {
    background-color: rgb(var(--accent-60), 0.85);
    box-shadow: var(--box-shadow);
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    height: 100%;
  }
  article header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
  }
  article header h3 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0;
    font-size: 14px;
    font-weight: 500;
    text-wrap: pretty;
    letter-spacing: -0.05rem;
    color: rgb(var(--light), 0.75);
    transition: all 0.2s ease-in-out;
  }
  article header h3:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(var(--accent-50), 1);
  }
  article header h3 span {
    color: rgb(var(--accent-55), 1);
  }
  article header h3 .github-code-link {
    color: rgb(var(--light), 0.65);
  }
  article header h3 .github-code-link:hover {
    color: rgb(var(--accent-50), 0.85);
  }
  article header p {
    font-family: var(--font-heading);
    font-size: 12px;
    letter-spacing: -0.025em;
    line-height: 1.2;
    color: rgb(var(--light), 0.45);
    text-wrap: pretty;
    transition: all 0.3s ease-in-out;
  }
  article footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-family: var(--font-body);    
    font-size: 10px;    
    color: rgb(var(--light), 0.65);
  }
  article footer ul span {
    background: rgb(var(--accent-50), 0.1);
    padding: 1px 4px;
    border-radius: 4px;
    width: fit-content;
  }
</style>
